@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 250, 248, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(var(--tw-gradient-stops));
  }
}
