@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 204, 204, 204;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  cursor: none;
}

* {
  cursor: none !important;
}

@layer utilities {
  .bg-gradient-radial {
    background: radial-gradient(var(--tw-gradient-stops));
  }
}
